<header class="header-main"> 
      <div class="header-logo">
         <a href="/">
          <img src="/images/logo.png" alt="logo ArtesanApp">
        </a>
      </div>
      <div class="header-busqueda">
          <form action="/search" method="GET">
              <input class="header-barra-busqueda" type="text" name="productSearch" placeholder="Buscar productos"  required>
              <button class="header__search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <nav class="header-caja-links">
            <ul>
              <li>
                <a href="/products" class="header-nav-link">Productos</a>
              </li>
              <li>
                <a href="/users/register" class="header-nav-link">Registrate</a>
              </li>
              <li>
                <a href="/products/create" class="header-nav-link">Vender</a>
              </li>
              <li>
                <a href="/about" class="header-nav-link">Nosotros</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header-buttons-container">
          
      
       <% if (typeof session.user == "undefined") { %>
        <div class="button-icons">

          <a href="/users/login">
              <button>
                inicio de sesion
              </button>
            </a>
          </div>
          <% } %>
          
       <% if (typeof session.user != "undefined" && session.user.rol !== 1) { %>
        <div class="button-icons">
          <a href="">
            <img src="/images/logo.png" alt="" style="width: 50px height; height: 50px;">
          </a>
          <div class="button-icons-welcome">
          <p>bienvenido usuario
            <i class="fa-solid fa-caret-down"></i>
            <div class="menu-desplegable">
              <a href="">
                mis datos
              </a>
              <form action="">
                <button type="submit">
                  salir de la sesion
                </button>
              </form>
            </div>
          </p>
          <!-- menu dropdown
              mis datos
              salir de la sesion 
              -->
          </div>
        </div>
          
        <div class="button-icons">

          <a href="">
            <button>
              carrito
            </button>
          </a>
          
        </div>
          <% } %>

        
        
      <%if (typeof session.user != "undefined" && session.user.rol === 1) { %>
        <div class="button-icons">
          <a href="">
            <img src="/images/logo.png" alt="" style="width: 50px height; height: 50px;">
          </a>
          <div>
          <p>bienvenido administrador
            <div class="menu-desplegable-posicion">
              <span class="desplegar">
                <i class="fa-solid fa-caret-down"></i>
              </span>
  
              <div class="menu-desplegable-contenido">
                <a href="">
                  <button>
                    mis datos
                  </button>
                </a>
                <a href="">
                  <button>
                    cerrar sesion
                  </button>
                </a>
              </div>
            
            </div>
            
          </p>

          </div>
        
        </div>
          
        <div class="button-icons">

          <a href="">
            <button>
              carrito
            </button>
          </a>
          
        </div>

        <div class="button-icons">
          <a href="http://localhost:3000/">
            <button>
              Dashboard
            </button>
          </a>
        </div>
        <% } %>
          
      </div>
     
     
     <!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <% if (typeof session.user != "undefined") { %>
      <a href="#">Sesion Iniciada</a>
      <a href="/users/showProfile">Mis Datos</a>
    <% if (session.user.rol === "admin") { %>
      <a href="/admin">Administrador</a>
    <% } %>
    <% } else {%>
      <a href="/users/login">Iniciar Sesion</a>
      <form action="/users/destroy" method="post">
        <div class="dropdown">
          
          <button class="header-log-in" type="submit">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <div class="dropdown-content">
          
           </div>
             </div>
     
           </button>
          </div>
          </form>
          <% } %>
        </div>
  

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span class="burger-btn"onclick="openNav()"><i class="fa-solid fa-bars" style="color: #ae8bbb;"></i></i></span>




     <!-- <div class="header-burger-menu" >
      <div class="header-burger-menu-close">x</div>
      <div class="header-burger-menu-barra">
        <i class="fas fa-bars"></i>
        <nav>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
       </div>
     </div>
      -->
      
  </header>