*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.letters{
    color: var(--blanco) !important;
}

.margin{
    flex-direction: column !important;
    padding: 20px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) !important;
    height: 500px !important;
    max-width: 300px !important;
}

.product-width{
    justify-content: space-around !important;
}
.products-main{
    display: flex !important;
  flex-wrap: wrap !important;
  
  
}

.margin div.productDetail-main-column-1-card-img img.productDetail-main-column-1-card-img-img{

}
/* MEDIAQUERY START */
@media screen and (min-width:768px){
    .products-main{
        display: flex;
        flex-direction: row !important;
    }
    .product-width{
        width: 40% !important; 
    }
}
@media screen and (min-width:1024px){
    .product-width{
        width: 25% !important;
        
    }
}