<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %> 


    <body>
        <main class="login-main">

        
    <div class="form-container">
        <h2>Ingresar</h2>
        <div class="login-logo">
            <!-- <div class="logo-container">
            <a href="/"><img src="/images/logo.png" alt="logo ArtesApp"></a></div>
         </div> -->
        <form action="/users/login" method="post" id="form">
            <div class="form">
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email" value="<%= locals.old && old.email %>" id="email">
                    <% if (locals.errors && errors.email) { %>
                        <span class="error-message"><%= errors.email.msg %></span>
                    <% }else { %>
                        <span id="emailErrors"></span>
                    <% } %>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña" id="pass">
                    <% if (locals.errors && errors.pass) { %>
                        <span class="error-message"><%= errors.pass.msg %></span>
                        <% }else { %>
                            <span id="pass1Errors"></span>
                        <% } %>
                </div>
                <div class="check">
                    <label for="recordar" class="login-label-recordar">  
                        <input type="checkbox" name="recordar" id="recordar">
                        Recordarme
                    </label>
                    
                </div>
                <div class="button-container">
                    
                    <button type="submit" class="btn-submit1">Ingresar</button>
                </div>
                <a href="/auth/login/google" class="google-icon">
                        <img src="/images/google.png" alt="" srcset="">
                </a>
                <span id="submitErrors"></span>
                <div><a href="">¿Olvidaste tu contraseña?</a></div>
                <div><a href="/users/register">Aún no tengo cuenta</a></div>
            </div>
        </form>
    </div>
</main>

<script src="/js/users/loginFrontValidation.js"></script>
</body>
</html>